body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main {
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container {
    max-width: 400px;
    height: 480px;
    max-height: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container2 {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 20px;
    color: #333;
}

#relatorio {
    margin-top: 20px;
    color: #333;
}

.flatpickr-calendar.inline {
    margin: 0 auto;
    transform: translateY(8px);
}